@font-face {
    font-family: "Regular";
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}

@font-face {
    font-family: "Bold";
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}

@font-face {
    font-family: "ExtraBold";
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}
  
h1 {
    font-family: "ExtraBold";    
}

p {
    font-family: "Regular";
    font-size: 14px;    
}

.first-block {
    display: flex;
    flex-wrap: wrap;
    margin-right: 20px;    
}

.first-block img {
    max-width: 100%;
}

.second-block {
    background-color: #222;
    padding: 10px;
}

.second-block h2 {
    color: yellow;
    margin: 15px 10px;
    font-family: "ExtraBold";
}

.second-block h3 {
    color: white;
    margin: 15px 10px;
    font-family: "Bold";
}

.second-block p {
    color: #eee;
    margin: 15px 10px;
    font-family: "Regular";
}

.third-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;    
}

.third-block img {
    max-width: 125px;
}

.top-articles-box {
    display: flex;
    align-items: center;    
    margin: 20px 1px;    
}

.top-articles-text {
    margin-left: 10px;
    
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.button {
    display: flex;
    background: #f7606d;
	color: white;	
	font-size: 16px;
	height: 40px;
	width: 180px;
    letter-spacing: 5px;
    margin: 10px 0px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;    	
}

@media only screen and (min-width: 769px) {
    .mobile {
        display: none;        
    }

    .desktop {
        display: block;
    }

    .top-articles-box {
        max-width: 30vw;
    }

    .home-wrapper {
        display: flex;
    }
  
    .main-news {
        display: flex;    
    }

    .main-news-lead {
        margin: 1rem 2rem;
    }

    .container {
        margin: 50px;
    }

    .first-block {
        max-width: 67.5%;
    }

    .second-block {
        min-width: 25%;
    }

    .third-block {
        min-width: max-content;
    }

}